/* Estilo header */
.escudo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.escudo img{
    width: 80px;
    height: 80px;
    margin: 10px 25px;    
}

.escudo h2{
    font-style: italic;
}

/* Estilo nav */
.navbar{
    background-image: url("../img/animalprint.png");    
    width: 100%;  
    font-weight: bolder;
}

/* Estilo banner */
.banner{
    background-image: url("../img/Equipo3.png");    
    background-size: cover;
    width: 100%;
    height: 1000px;    
}

.texto-banner{
    padding-left: 40px;
    padding-top: 10px;
    max-width: 35%;
}

.texto-banner h5 a{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

.texto-banner h5 a:hover{
    font-weight: bold;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
.slide-in-left2 {
	-webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}


 @-webkit-keyframes slide-in-left2 {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left2 {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
/* Estilo seccion */
.container{
    margin-top: 60px;
    margin-bottom: 120px;
}

.container .row{
    text-align: center;
}

/* Estilo footer */
.pie{
    background-image: url("../img/animalprint.png");
    background-repeat: no-repeat;
    background-size: cover;  
    display: flex;  
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
}

.redes img{
    width: 30px;
    height: 30px;
}



